/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
fieldset,hr{border:0;padding:0}html{color:#222;font-size:1em;line-height:1.4}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}hr{display:block;height:1px;border-top:1px solid #ccc;margin:1em 0}audio,canvas,iframe,img,svg,video{vertical-align:middle}fieldset{margin:0}textarea{resize:vertical}.browserupgrade{margin:.2em 0;background:red;color:#fff;padding:1em 0;text-align:center;font-size:1.5em}
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
========================================================================== */
body{font:16px/26px Helvetica,Helvetica Neue,Arial}.wrapper{width:90%;margin:0 5%}.title{color:#fff}.main{padding:30px 0}.main aside{color:grey;padding:0 5% 10px}.footer-container footer{color:#fff;padding:20px 0}.ie7 .title{padding-top:20px}
/* ==========================================================================
   Author's custom styles
========================================================================== */
@font-face { font-family: woodcut; src: url(../font/Woodcut.ttf); }
html * { font-family: woodcut !important; }
.footer-container{ display:none; }
.main aside p{ font-size:1.1em; text-align: center; margin-top:10px; line-height: 1em; }
.main aside img{ height:100px; }
#bci-menu{ padding:10px; z-index: 1; }
.menu-circle{width:90px;height:90px;background:#00B8E8;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px;margin-top:25px;;font-size:1.7em;color:#fff;text-align:center;line-height:3.9em;}
.menu-circle a, .menu-circle a:visited{ color:#fff; }
.menu-circle a:hover{ color:#000; }
.main-content{position: relative;width:60%;left:15%;top:40px;}
.resp-divider{display: none;}
#not-circle{width:200px;height:200px;background:#00B8E8;-moz-border-radius:50px;-webkit-border-radius:105px;border-radius:105px;margin-top:321px;color:#fff;text-align:center;position:absolute;margin-left:212px;}
#not-circle h1{ line-height: 2.2em;font-size: 6.2em;margin-left: -55px;}
#not-circle p{margin-top:-125px;margin-left:100px;font-size:3em;}
#not-img {z-index: -1;}
/* ==========================================================================
   Index
========================================================================== */
#art-hand{ width: 423px; overflow:hidden; }
#art-hand img{ width:610px; position:relative; }
#line-art-connection{position: absolute;margin-left: 80px;margin-top: 5px;width: 746px;height: 44em;overflow:hidden;}
#line-art-connection div{ position:absolute;  width:100%;  height:100%}
#aLine{ position:absolute; }
#pLine{ position:absolute; top:0; left:0;}
#wLine{ position:absolute; top:0; }
#cuLine{ position:absolute; top:1em; }
/* ==========================================================================
   About Us
========================================================================== */
#img-container-aboutus{ position:absolute;  left:-35%;top:1.5em;}
.director-content{ width:140%;  font-size:1.1em;z-index:3;position:relative;}
/*#img-container-aboutus img{ width:600px;  height:580px;  position:absolute;  left:28%;z-index:2;}*/
#img-container-aboutus img{ width:520px;  height:520px;  position:absolute;  left:35%;z-index:2;}
#img-container-aboutus #left, #right{width:40%}
#img-container-aboutus #left{ float:left;  text-align:right;  word-wrap:break-word;  margin-top:190px}
#img-container-aboutus #right{ float:right;  text-align:left;  word-wrap:break-word;  margin-top:100px}
#img-container-aboutus #left:before, #right:before{ content:"";  width:100%;  /*height:490px*/}
/*#img-container-aboutus #left:before{ float:right;shape-outside: ellipse(308px 288px at 129% 19%)}
#img-container-aboutus #right:before{ float:left;shape-outside:ellipse(284px 281px at -17% 40%)}*/
#img-container-aboutus #left:before{ float:right;shape-outside: ellipse(260px 260px at 133% 20%); height: 350px;}
#img-container-aboutus #right:before{ float:left;shape-outside: ellipse(260px 260px at -15% 35%); height: 455px;}
#img-container-aboutus h2{margin: 0; color: #009fde; font-size: 1.6rem;}
#img-container-aboutus h2.ui.header .sub.header{font-size: 0.9em; color: #464646;} 
#img-container-aboutus p{font-size: 0.9em; color: #808080;line-height: 1;margin-bottom:12px;}
#auLine{z-index:-1;position:absolute;width:60%;height:25%;top:20%;}


/* ==========================================================================
   Contact Us
========================================================================== */
#cu-container{ position:absolute;  width:160%;  left:-27%;top:3.2em;}
.cu-img{ width:100%;  height:100%;  border-radius:50%;  z-index:10}
#cu-container #cu-circle-linkein{ position:absolute;  width:17%;  left:11%;  top:50px}
#cu-container #cu-circle-fb{ position:absolute;  width:25%;  left:37%;  top:2%}
#cu-container #cu-circle-career{ position:absolute;  width:10.5%;  left:67%;  top:135px}
#cu-container #cu-circle-inquiry{ position:absolute;  width:20%;  left:50%;  top:318px}
#cu-linkedin-line{position: absolute;left: -35%;top: 80%;z-index: -1;height: 20em;}
#cu-fb-line{position: absolute;left: -130%;top: 70%;z-index: -1;width: 150%;height: 22em;}
#cu-career-line{position: absolute;left: -575%;top: -60px;z-index: -1;width: 620%;height: 28em;}
#cu-inquiry-line{position: absolute;left: -225%;top: 7px;z-index: -1;width: 265%;height:11em;}
#cu-linkedin-line2{display:none;}
#cu-career-line2{display:none;}
#cu-form{ display:none;position:absolute;  width:85%;  left:-10%; top:7em; z-index:10; padding:15px 20px; background:white; border: 2px solid rgb(183,183,183); }
#cu-form-message {display:none; position: relative; top: 4.5em; font-size: 1.2em; left: -1.5em;  word-break: break-word;}
#cu-form-inquiry{ display:none;position:absolute;  width:85%;  left:0%; top:2em; z-index:10; padding:15px 20px; background:white; border: 2px solid rgb(183,183,183); }
#cu-form-msg-inquiry {display:none; position: relative; top: 0.5em; font-size: 1em; left: 1em; word-break: break-word;}
.cu-form-field{ clear:both; margin:0 auto; margin-bottom: 5px;}
.cu-form-field>label{ display:inline-block; width: auto; vertical-align:middle; margin:0 auto; font-size:1.3em; }
.cu-form-field>input[type=text]{ display:inline-block; width: 70%; vertical-align:middle; font-size:1em; float: right;}
.cu-form-field>textarea{ width:100%; height:10em; font-size:1em;}
.cu-message{ margin-top: 5%;}
.cu-form-field>input[type=text], .cu-form-field>textarea{ padding: 2px; background: #FFF;  border: 1px solid rgb(185,185,185); border-radius: 1px; box-shadow: 0 0 0 0 transparent inset; -webkit-transition: color .1s ease,border-color .1s ease; transition: color .1s ease,border-color .1s ease;}
.cu-button{ float:right; width:100%; margin-top: -.8em;}
.cu-form-field>input[type=submit]{ width: 20%; height: 1.8em; display: inline; background: rgb(0,134,199); border: none; color: white; font-size: 1.1em; float:right; margin-left: 0.3em;}
.cu-attach-icon{ cursor: pointer; width: 8% !important; height: 1.55em; background: rgb(0,134,199); border: none; color: white; text-align: center; padding-top: 2px; float:right;}
.cu-attach-icon>img{ width: 50%; height:50%}
.cu-form-field>input[type=file]{ display:none;}
.cu-error{ display:block; clear:both; float:right; color:red; font-size:12px;}
/* ==========================================================================
   Whats New
========================================================================== */
#bci-fbpage{ position:absolute;  top:25%;  left:69%;  width:230px}
#wn-line{ position:relative;  left:-15%;  top:86px;  height:352px;  overflow:hidden;  z-index:-1}
.wn-circle{ -moz-border-radius:100px;  -webkit-border-radius:100px;  border-radius:100px;  font-size:2.5em; color:#fff; line-height:1.2em; text-align:center;  position:absolute}
#wn-blogs{ width:155px;  height:155px;  top:38%;  left:-5%;  background:#31B3CB;  line-height:4.5em}
#blog-line{ z-index:-1;  position:relative}
#wn-latestProj{ width:205px;  height:205px;  top:25%;  left:45%;  background:#0086A7;  line-height:6em}
#latpro-line{ position:relative;  width:100%;  z-index:-1;  top:-100%}
#wn-others{ width:130px;  height:130px;  top:82%;  left:28%;  background:#3CDDFA;  z-index:1;  line-height:3.7em}
#others-line{ position:relative;  top:-200%;  z-index:-1}

/* ==========================================================================
   Portfolio
========================================================================== */
#port-menu{    padding:initial}
#port-content {width: 65%;}
#port-menu p{    position:relative;     top:50%;     transform:translateY(-50%)}
.port-circle-events{    float:left;     position:relative;     width:30%;     margin:7% 8% 0 -2%;     overflow:hidden; text-align:center;}
.port-circle-events p{    color:white;     font-size:3.2vw;     position:absolute;     bottom:3px;     left:0;     right:0}
.port-circle-digital{    float:left;     position:relative;     width:22%;     margin: 0;     overflow:hidden; text-align:center;}
.port-circle-digital p{    color:white;     font-size:2.6vw;     position:absolute;     bottom:0px;     left:0;     right:0}
.port-circle-print{    float:left;     position:relative;     width:35%;     margin:7% 0 0 0%;     overflow:hidden}
.port-circle-print p{    color:white;     font-size:5vw;     position:absolute;     left:8px;     top:23%}
.port-circle-ooh{    float:left;     position:relative;     width:24%;     margin: -2% 0% 0 2%;     overflow:hidden;}
.port-circle-ooh p{    color:white;     font-size:3.6vw;     position:absolute;     bottom:0px;     left:22%;}
.port-circle-shopper{    float:left;     position:relative;     width:31%;     margin:-7% 0% 0% 4%;     overflow:hidden}
.port-circle-shopper p{    color:white;     font-size:2.2vw;     position:absolute;     bottom:18%;     left:40%;     right:10%; text-shadow: 1px 1px gray;}
.port-circle-activation{    float:left;     position:relative;     width:34%;     margin:4% 0 0 10%;     overflow:hidden; text-align:center;}
.port-circle-activation p{    color:white;     font-size:3.5vw;     position:absolute;     bottom:15%;     left:0;     right:0}
.port-circle-tv{    float:left;     position:relative;     width:48%;     margin:-10% 0px 0px 8%;     overflow:hidden; text-align:center;}
.port-circle-tv p{    color:white;     font-size:15vw;     position:absolute;     top:50%;     transform: translateY(-50%);    left:0;     right:0}
.port-content{    position:absolute;     height:100%;     width:100%;     padding:10%}
.port-table{    display:table;     width:100%;     height:100%}
.port-table-cell{    display:table-cell;     vertical-align:middle;     text-align:center}
.port-bg{    background-position:center center;     background-repeat:no-repeat;     background-size:cover;     color:#fff;}
#port-lines{ width:100%;  margin-left:-20%;  position:absolute;  min-height:520px}
#eline-1, #pline-1, #dline-1, #aline-1, #tline-1, #sline-1, #oline-1  {display:block;}
#eline-2, #pline-2, #dline-2, #aline-2, #tline-2, #sline-2, #oline-2 { display: none; }
#eline-3, #pline-3, #dline-3, #aline-3, #tline-3, #sline-3, #oline-3 { display: none; }
#eline-4, #pline-4, #dline-4, #aline-4, #tline-4, #sline-4, #oline-4 { display: none; }
#oneLine {display:none;}
#sLine { display: none; }
#eventLine{position: absolute;z-index:-1;width:100%;}
#printLine{position: absolute;z-index:-1;width:100%;}
#shopLine{position: absolute;z-index:-1;width:100%;}
#oohLine{position: absolute;z-index:-1;width:100%;}
#digitalLine{position: absolute;z-index:-1;width:100%;}
#actLine{position: absolute;z-index:-1;width:100%;}
#tvLine{position: absolute;z-index:-1;width:100%;}
.main-height {min-height:450px;}
/*Other Details*/
#port-main a {color:#00B8E8;}
#event-details {width: 100%;position: absolute;margin: 43% 0% 0px 4%;}
#event-details img {width:20%; height:18%; margin-bottom: 1px;}
#digital-details {width: 100%;position: absolute;margin: 26% 0% 0px 7%;}
#digital-details img {width:20%; height:18%; margin-bottom: 1px;}
#ooh-details {width: 100%;position: absolute;margin: 27% 0% 0px 32%;}
#ooh-details img {width:20%; height:18%; margin-bottom: 1px;}
#shopper-details {width: 100%;position: absolute;margin: 70% 0% 0px 5%;}
#shopper-details img {width:20%; height:18%; margin-bottom: 1px;}
#activation-details {width: 100%;position: absolute;margin: 10% 0% 0px 2%;}
#activation-details img {width:20%; height:18%; margin-bottom: 1px;}
#tv-details {width: 90%;position: absolute;margin: 0%;}
#tv-details img {width:20%; height:18%; margin-bottom: 1px;}
/*Print*/
#print-details {margin-top: 15%;width: 100%;}
#print-details p{ font-size:1.7em;}
.print-details-top {background-color:white; border:2px solid black; width:49%; min-height: 200px; float:left;     position:relative; padding-bottom:30%;overflow:hidden; margin:2px;}
.print-details-bottom {background-color:white;border:2px solid black; width:24%; min-height: 200px; float:left;     position:relative; padding-bottom:30%;overflow:hidden; margin:2px;}
.hide {display: none;}

/* ==========================================================================
   Clients
========================================================================== */
#clients-container{position:absolute; width:160%; left:-27%;  }
.clients-img{width:100%; height:100%; border-radius:50%; z-index:10}
#clients-container #clients-panasonic{position:absolute; width:18%; left:22%}
#clients-container #clients-forex{position:absolute; width:9%; left:18%; top:150px}
#clients-container #clients-dbp{position:absolute; width:9%; left:20%; top:250px}
#clients-container #clients-scentshop{position:absolute; width:14%; left:9%; top:320px}
#clients-container #clients-ritemed{position:absolute; width:14%; left:2%; top:450px}
#clients-container #clients-bpi{position:absolute; width:10%; left:19%; top:425px}
#clients-container #clients-blue{position:absolute; width:26%; left:30%; top:300px}
#clients-container #clients-accenture{position:absolute; width:14%; left:30%; top:180px}
#clients-container #clients-metrobank{position:absolute; width:14%; right:30%; top:435px}
#clients-container #clients-microsoft{position:absolute; width:20%; right:35%; top:80px}
#clients-container #clients-ucpb{position:absolute; width:10%; right:23%; top:85px}
#clients-container #clients-mitsubishi{position:absolute; width:35%; right:4%; top:165px}
#panasonicLine1{position: absolute;left:-85%;top: 63%;z-index:-1;}
#microsoftLine1{position: absolute;left:-190%;width:200%;z-index:-1;}
#dbpLine1{position: absolute;left:-135%;top:0%;width:160%;z-index:-1;}
#mitsubishiLine1{position: absolute;left:-150%;top:-16%;width:160%;z-index:-1;}
#blueLine1{position: absolute;left:-80%;top:-62%;z-index:-1;}
#bpiLine1{position: absolute;left:-130%;top:-165%;width:170%;height:200%;z-index:-1;}
#forexLine1{position:absolute; left:-125%; top:25%; width:150%; z-index:-1}
#accentureLine1{position:absolute; left:-155%; top:10%; width:170%; z-index:-1}
#ucpbLine1{position:absolute; left:-585%; top:42%; width:610%; height:160%; z-index:-1}
#metrobankLine1{position: absolute;left:-355%;top:-125%; width:400%; height:180%; z-index:-1;}
#ritemedLine1{position: absolute;left: 0%;top: -130%;z-index: -1;height: 150%;}
#clients-menu:after, #clients-menu:after {display: none;}
.clients-doubleLine-container {display:none;}
#panasonicLine2{display:none;}
#panasonicLine3{display:none;}
#microsoftLine2{display:none;}
#forexLine2{display:none;}
#mitsubishiLine2{display:none;}
#dbpLine2{display:none;}
#blueLine2{display:none;}
#scentshopLine2{display:none;}
#scentshopLine3{display:none;}
#accentureLine2{display:none;}
#bpiLine2{display:none;}
#forexLine3{display:none;}
.cv-container {position: absolute; font-size: 1em; width: 300%; z-index: 2; word-wrap: break-word; top: 110%; left: -10%; }
.cv-container a {color: #00B8E8;}
#cv-mitsubishi {width: 100%; left: 10%;}
#cv-microsoft {width: 200%; left:0;}
#cv-blue {width: 200%; top: 30%; left: 110%;}
#cv-metrobank {left: 110%; top: 15%;}
#cv-bpi {left: 110%; top: 0;}
#cv-panasonic {width: 200%;}

/* ==========================================================================
   404 Page
========================================================================== */
#art-content {width: 100%;height: 600px;}
.art-hand{    float:left;     position:relative;     width:58%;     padding-bottom:58%; overflow:hidden;  left: 50%; transform: translateX(-50%);top: 10%;}
.art-bg{    background-position:center center;     background-repeat:no-repeat;     background-size:contain;     color:#fff;}
.art-img{    background-image:url('../img/art-hand.png')}
.art-circle {width:45%;height:45%;background-image:url('../img/404-circle.png');-moz-border-radius:50px;-webkit-border-radius:105px;border-radius:105px;position: absolute;left: 56%;transform: translateX(-50%);}
.art-bg{    background-position:center center;     background-repeat:no-repeat;     background-size:contain;     color:#fff;}
.art-circle h1{ color:transparent;     font-size:8.2vw;     position:absolute;         top: 50%;    transform: translateY(-50%);    left: 12%;}
.art-circle p{color:transparent;     font-size:4vw;     position:absolute;         top: 50%;    transform: translateY(-30%);    left: 62%;}

/* ==========================================================================
   Media Queries
========================================================================== */

/* ==========================================================================
   Media stage 1
========================================================================== */
@media only screen and (max-width: 320px){
.main aside img{display:block;margin-left:auto;margin-right:auto}
.invisible {display:none;}
.resp-divider{ top:39%!important; z-index: -1!important;display:block;}
#bci-menu{width: 100%;}
.menu-circle{width:100%;margin-top:6px;height:45px;line-height: 2em;}
.menu-circle.invisible{height:0;padding-top:0;}
.menu-circle.invisible#about-menu{height:0;padding-top:0;}
.main-content{width:100%;top:25px;left:0}
#not-circle{width:110px;height:110px;margin-top:150px;margin-left:100px;}
#not-circle h1{line-height: 2.5em;font-size:3.2em;margin-left:-30px;}
#not-circle p{font-size:1.5em;margin-left:53px;margin-top:-80px;}
/* ==========================================================================
    Index
========================================================================== */
#line-art-connection{display:none}
#art-hand{height:100%;width:100%}
#art-hand img{height:300px;width:100%}
#bci-fbpage{display:none}
/* ==========================================================================
    Contact Us
========================================================================== */
#line{display:block; margin:0 auto;  height:500px;  position:absolute; z-index:-2px}
.menu-circle.invisible{height:0; padding-top:0}
.cu-line{display:none}
#contact-us-menu{ width:100px;  height:100px;  border-radius:50px;  padding:30px 5px 0 5px;  margin:0 auto}
#cu-container{ width:100%;  left:0;top:0.3em;}
.cu-img-container{ width:40% !important;  height:40% !important;  left:30% !important;  position:relative !important;  top:0 !important}
#contact-us-menu:after{ content:"";  display:block;  width:0px;  height:40px;  border:0;  border-left:2px solid rgb(185,185,185);  margin:0 auto;  padding:0px;  margin-top:25%}
.cu-img-container:after{ content:"";  display:block;  width:0px;  height:15px;  border:0;  border-left:2px solid rgb(185,185,185); ;  margin:0 auto;  padding:0px}
.cu-img-container:last-child:after{ display:none}
#cu-form{left: 7%; top: 11em;}
.cu-form-field>label {font-size:0.9em;}
.cu-form-field>textarea{height: 8em;}
.cu-attach-icon{ padding-top: 5px; height: 2.2em; width: 10% !important;}
.cu-form-field>input[type=text], .cu-form-field>textarea{font-size: 0.9em;}
#cu-form-message {font-size: 1em;top: 9.5em;left: 3em;}
#cu-form-inquiry{ left: 7%; top: 11em;}
#cu-form-msg-inquiry {font-size: 0.9em; top: 9.5em;left: 2em; width: 80%; word-break: break-word;}
.cu-active-career:after{display:none;}
/* ==========================================================================
    About Us
========================================================================== */
#about-menu{ width:100px;  height:100px;  border-radius:50px; margin:0 auto;line-height: 4em;}
#img-container-aboutus{ position:static;  left:0}
#img-container-aboutus img{ width:287px;  height:287px;  position:static}
#auLine{ width:100%;  top:-63px;  z-index:-1}
.director-content{ width:100%}
#img-container-aboutus #left, #right{ width:100%}
#img-container-aboutus #left:before{ float:none;  shape-outside:none}
#img-container-aboutus #right:before{ float:none;  shape-outside:none}
#img-container-aboutus #left{ float:none;  text-align:left;  margin-top:13px}
#img-container-aboutus #right{ float:none;  text-align:left;  margin-top:13px}
#img-container-aboutus #left:before, #right:before{ content:none;  width:0;  height:0}
#img-container-aboutus .profile-name{ width:90%}
#img-container-aboutus div#right .profile-name{ margin-left:0}
#img-container-aboutus div#right .profile-name:nth-child(4){ margin-left:0}
#img-container-aboutus div#right .profile-name:last-child{ margin-left:0}
#img-container-aboutus p{ font-size:1em}
#auLine{display: none;}
#about-menu:after{ content:"";  display:block;  width:0px;  height:65px;  border:0;  border-left:2px solid rgb(185,185,185);  margin:5px auto;  padding:0px;  z-index:-1}
#home-menu{width:100px;height:100px;margin:0 auto;line-height:4em;margin-bottom:15px;}
/* ==========================================================================
    Whats New
========================================================================== */
#whats-new-menu{width:100px; height:100px; position:relative; margin:0 auto; line-height:4em}
#whats-new-menu:after{ content:"";  display:block;  width:0px;  height:65px;  border:0;  border-left:2px solid rgb(185,185,185);  margin:5px auto;  padding:0px;  z-index:-1}
#wn-container{height:100%}
#wn-line{display:none}
.wn-circle{position:static; margin:auto; margin-top:20px}
#wn-blogs:after, #wn-latestProj:after{ content:"";  display:block;  width:0px;  height:30px;  border:0;  border-left:2px solid rgb(185,185,185);  margin:-4px auto;  padding:0px;  z-index:-1}
/* ==========================================================================
    Portfolio
========================================================================== */
.port-menu div:not(#port-menu), div:not(:first-child()){ display:none}
#port-content{width:initial;}
#port-menu{ width:100px;  height:100px;  position:relative;  margin:10% auto}
#port-menu p{ position:relative;  top:50%;  transform:translateY(-50%)}
#port-lines{ display:none}
.port-circle-events{ float:none;  width:40%;  padding-bottom:40%;  margin:0 auto 10%}
.port-circle-events p{ font-size:8.6vw}
.port-circle-print{ float:none;  width:40%;  padding-bottom:40%;  margin:0 auto 10%}
.port-circle-print p{ font-size:10vw}
.port-circle-digital{ float:none;  width:40%;  padding-bottom:40%;  margin:0 auto 10%}
.port-circle-digital p{ font-size:7.6vw}
.port-circle-ooh{ float:none;  width:40%;  padding-bottom:40%;  margin:0 auto 10%}
.port-circle-ooh p{ font-size:10vw}
.port-circle-shopper{ float:none;  width:40%;  padding-bottom:40%;  margin:0 auto 10%}
.port-circle-shopper p{ font-size:6vw}
.port-circle-activation{ float:none;  width:40%;  padding-bottom:40%;  margin:0 auto 10%}
.port-circle-activation p{ font-size:7.5vw}
.port-circle-tv{ float:none;  width:40%;  padding-bottom:40%;  margin:0 auto 10%}
.port-circle-tv p{ font-size:19vw}
#oneLine{ display:block;  position:absolute;  height:100%;  margin-top:-30%;  z-index:-1}
#sLine{display:none}
/*Other Details*/
#event-details, #digital-details, #activation-details, #tv-details, #ooh-details, #shopper-details{    margin: 0 0 10% 0;text-align: center;width: 100%;}
/*Print Details*/
#print-details {margin-top: 0;}
.print-details-top { width:98%;}
.print-details-bottom { width:98%;}
/* ==========================================================================
    Clients
========================================================================== */
.menu-circle.invisible{height:0;padding-top:0;}
#clients-menu{width:100px; height:100px; border-radius:50px; padding:30px 5px 0 5px; margin:0 auto}
.clients-img-container{width:50% !important; height:50% !important; left:0 !important; position:relative !important; top:0 !important; float:left; padding:0px 10px}
.clients-line{display:none}
#clients-container{width:100%; left:0;  top:2em}
.clients-img-container:after{content:""; display:block; width:0px; height:15px; border:0; border-left:2px solid rgb(185,185,185); margin:0 auto; padding:0px}
.clients-img-container:last-child:after{display:none}
.clients-img-container:last-child{padding-bottom:10px;}
#clients-ucpb:after{display:none}
/*#clients-microsoft:after{display:none}
#clients-mitsubishi:before{content:""; display:block; width:0px; height:15px; border:0; border-left:2px solid rgb(185,185,185); margin:0 auto; padding:0px}*/
#clients-menu:before{content:""; display:block; width:105px; border-bottom:2px solid rgb(185,185,185); -webkit-transform:translateY(98px)translateX(-45px)rotate(135deg); position:absolute; z-index:-1;}
#clients-menu:after{content:""; display:block; width:105px; border-bottom:2px solid rgb(185,185,185); -webkit-transform:translateY(65px)translateX(30px)rotate(45deg); position:absolute; top:16em;  z-index:-1}

.current:before{content:""; display:block; width:0px; height:90px !important; border:0; border-left:2px solid rgb(185,185,185); margin:0 auto; padding:0px; position: absolute; left: 48%; top: -55%; z-index:-1;}
.current:after{display:none !important}
.current:last-child{padding-bottom:0 !important;}
.current {left: 26% !important;}
.cv-container {width:150% !important; left:-15% !important; top: 110% !important; padding-bottom:10px;}
.current-menu:after{display:none !important}
.current-menu:before{display:none !important}
/* ==========================================================================
   404
========================================================================== */
#art-content {height: 410px;}
.art-hand {width: 100%;    padding-bottom: 100%;}
}

/* ==========================================================================
   Media stage 2
   ========================================================================== */

@media only screen and (min-width: 321px) and (max-width: 479px) {
.main aside img{display:block;margin-left:auto;margin-right:auto}
.invisible {display:none;}
.resp-divider{ top:39%!important; z-index: -1!important;display:block;}
#bci-menu{padding:0;width:100%}
.menu-circle.invisible,.menu-circle.invisible#about-menu{height:0;padding-top:0}
.menu-circle{width:100%;margin-top:6px;height:100%;font-size:2em;line-height:1.8em}
.main-content{width:100%;top:25px;left:0}
#not-circle{width:125px;height:125px;top:100%;left:0;right:0;margin:0 auto;}
#not-circle h1{line-height: 2.5em;font-size:3.8em;margin-left:-30px;}
#not-circle p{font-size:1.8em;margin-left:70px;margin-top:-90px;}
/* ==========================================================================
    Index
========================================================================== */
#art-hand{width:100%;height:100%}
#art-hand img{width:100%}
#line-art-connection{display:none}
#bci-fbpage{display:none}
/* ==========================================================================
   404
========================================================================== */
#art-content {height: 410px;}
.art-hand {width: 100%;    padding-bottom: 100%;}
/* ==========================================================================
    Portfolio
========================================================================== */
.port-menu div:not(#port-menu), div:not(:first-child()){ display:none}
#port-content { width: initial;}
#port-menu{ width:100px;  height:100px;  position:relative;  margin:10% auto}
#port-menu p{ position:relative;  top:50%;  transform:translateY(-50%)}
#port-lines{ display:none}
.port-circle-events{ float:none;  width:40%;  margin:0 auto 10%}
.port-circle-events p{ font-size:8.6vw}
.port-circle-print{ float:none;  width:40%;  margin:0 auto 10%}
.port-circle-print p{ font-size:10vw}
.port-circle-digital{ float:none;  width:40%; margin:0 auto 10%}
.port-circle-digital p{ font-size: 7.6vw}
.port-circle-ooh{ float:none;  width:40%;  margin:0 auto 10%}
.port-circle-ooh p{ font-size:10vw}
.port-circle-shopper{ float:none;  width:40%;  margin:0 auto 10%}
.port-circle-shopper p{ font-size:6vw}
.port-circle-activation{ float:none;  width:40%;  margin:0 auto 10%}
.port-circle-activation p{ font-size:7.5vw}
.port-circle-tv{ float:none;  width:40%;  margin:0 auto 10%}
.port-circle-tv p{ font-size:19vw}
#oneLine{ display:block;  position:absolute;  height:100%;  margin-top:-30%;  z-index:-1}
#sLine{display:none}
/*Other Details*/
#event-details, #digital-details, #activation-details, #tv-details, #ooh-details, #shopper-details{    margin: 0 0 10% 0;text-align: center;width: 100%;}

/*Print Details*/
#print-details {margin-top: 0;}
.print-details-top { width:98%;}
.print-details-bottom { width:48%;}
/* ==========================================================================
   Whats New
========================================================================== */

#whats-new-menu{width:100px;height:100px;position:relative;margin:0 auto;line-height:3.7em}
#whats-new-menu:after{content:"";display:block;width:0;height:60px;border:0;border-left:2px solid #b9b9b9;margin:-4px auto;padding:0;z-index:-1}
#wn-container{height:100%;}
#wn-line{ display:none; }
.wn-circle{position:static;margin:auto;margin-top:20px;}
#wn-blogs:after,#wn-latestProj:after{content:"";display:block;width:0;height:30px;border:0;border-left:2px solid #b9b9b9;margin:-4px auto;padding:0;z-index:-1}

/* ==========================================================================
   Contact Us
========================================================================== */
#line{display:block;margin: 0 auto;height: 500px;position: absolute;z-index:-2px;}
.menu-circle.invisible{height:0;padding-top:0;}
.cu-line{display:none;}
#contact-us-menu{ width:100px;  height:100px;  border-radius:50px;  padding:30px 5px 0 5px;  margin:0 auto}
#cu-container{ width:100%;  left:0;top:0.9em;}
.cu-img-container{ width:40% !important;  height:40% !important;  left:30% !important;  position:relative !important;  top:0 !important}
#contact-us-menu:after{ content:"";  display:block;  width:0px;  height:40px;  border:0;  border-left:2px solid rgb(185,185,185);  margin:0 auto;  padding:0px;  margin-top:21%}
.cu-img-container:after{ content:"";  display:block;  width:0px;  height:25px;  border:0;  border-left:2px solid rgb(185,185,185); ;  margin:0 auto;  padding:0px}
.cu-img-container:last-child:after{ display:none}
#cu-form{top: 16.5em;left: 8%;}
.cu-form-field>label {font-size:0.9em;}
.cu-form-field>textarea{height: 8.5em;}
.cu-attach-icon{ padding-top: 5px; height: 2.2em; width: 10% !important;}
.cu-form-field>input[type=text], .cu-form-field>textarea{font-size: 0.9em;}
#home-menu{ width:100px;  height:100px;  margin:0 auto;  line-height:3.5em;  margin-bottom:15px}
#cu-form-message {font-size: 1em;top: 15em;left: 4em;}

#cu-form-inquiry{top: 16.5em;left: 8%;}
#cu-form-msg-inquiry {font-size: 0.9em;top: 15em;left: 3em;width: 80%; word-break: break-word;}
.cu-active-career:after{display:none;}
/* ==========================================================================
    About Us
========================================================================== */
#about-menu{ width:100px;  height:100px;  border-radius:50px; margin:0 auto;line-height: 4em;}
#img-container-aboutus{ position:static;  left:0}
#img-container-aboutus img{ width:100%;  height:100%;  position:static}
#auLine{ width:100%;  top:-63px;  z-index:-1}
.director-content{ width:100%}
#img-container-aboutus #left, #right{ width:100%}
#img-container-aboutus #left:before{ float:none;  shape-outside:none}
#img-container-aboutus #right:before{ float:none;  shape-outside:none}
#img-container-aboutus #left{ float:none;  text-align:left;  margin-top:13px}
#img-container-aboutus #right{ float:none;  text-align:left;  margin-top:13px}
#img-container-aboutus #left:before, #right:before{ content:none;  width:0;  height:0}
#img-container-aboutus .profile-name{ width:90%}
#img-container-aboutus div#right .profile-name{ margin-left:0}
#img-container-aboutus div#right .profile-name:nth-child(4){ margin-left:0}
#img-container-aboutus div#right .profile-name:last-child{ margin-left:0}
#img-container-aboutus p{ font-size:1em}
#auLine{display: none;}
#about-menu:after{ content:"";  display:block;  width:0px;  height:65px;  border:0;  border-left:2px solid rgb(185,185,185);  margin:-14px auto;  padding:0px;  z-index:-1}
#home-menu{width:100px;height:100px;margin:0 auto;line-height:3.5em;margin-bottom:15px;}
/* ==========================================================================
    Clients
========================================================================== */
.menu-circle.invisible{height:0;padding-top:0;}
#clients-menu{width:100px; height:100px; border-radius:50px; padding:30px 5px 0 5px; margin:0 auto}
.clients-img-container{width:45% !important; height:45% !important; left:5% !important; position:relative !important; top:0 !important; float:left; padding:0px 10px}
.clients-line{display:none}
#clients-container{width:100%; left:0;  top:2em}
.clients-img-container:after{content:""; display:block; width:0px; height:15px; border:0; border-left:2px solid rgb(185,185,185); margin:0 auto; padding:0px}
.clients-img-container:last-child:after{display:none;}
.clients-img-container:last-child{padding-bottom:10px;}
#clients-ucpb:after{display:none}
/*#clients-microsoft:after{display:none}
#clients-mitsubishi:before{content:""; display:block; width:0px; height:15px; border:0; border-left:2px solid rgb(185,185,185); margin:0 auto; padding:0px}*/
.clients-doubleLine-container {display:block;width:100%;}
#leftLine{position: absolute;left: 15%;top:-8%;z-index:-1;width:50%;}
#rightLine{position: absolute;right: -2%;top:-8%;z-index:-1;width:50%;}
#clients-left-container{width:50%;}
#clients-right-container{width:50%;}

.current:before{content:""; display:block; width:0px; height:90px !important; border:0; border-left:2px solid rgb(185,185,185); margin:0 auto; padding:0px; position: absolute; left: 48%; top: -45%; z-index:-1;}
.current:after{display:none !important}
.current:last-child{padding-bottom:0 !important;}
.current {left: 28% !important;}
.cv-container {width:150% !important; left:-10% !important; top: 110% !important; padding-bottom:10px;}
.current-line{display:none;}
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    .oldie nav a {
        margin: 0 0.7%;
    }
}

/* ==========================================================================
   Media stage 3
========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.main aside{width:100%}
.main aside img{display:block;margin-left:auto;margin-right:auto}
#bci-menu{width:120px}
.menu-circle{width:80px;height:80px;font-size:1.5em}
.main-content{position:absolute;width:58%;left:28%;top:215px}
#not-circle{width:180px;height:180px;margin-left: 187px;margin-top: 263px;}
/* ==========================================================================
    Index
========================================================================== */
#art-hand{width:65%;position:absolute;top:45%;left:30%}
#art-hand img{width:100%}
#line-art-connection{width:77%;height:520px;top:225px;margin-left:83px;margin-top:0;z-index:-1}
#wLine{display:none;}
#pLine{display:none;}
#aLine{display:none;}
#cLine{display:none;}
#cuLine{display:none;}

/* ==========================================================================
   Contact Us
   ========================================================================== */
#cu-container{ width:135%;  left:-30%}
#cu-container #cu-circle-linkein{ top:60%}
#cu-container #cu-circle-fb{ left:35%;  top:40%}
#cu-container #cu-circle-career{ width:15%;  left:75%;  top:90%}
#cu-container #cu-circle-inquiry{ top:200%;  left:60%}

#cu-linkedin-line{display:none;}
#cu-linkedin-line2{position: absolute;z-index: -1;height: 22em;left: -75%;top: 50%;display:block;}
#cu-fb-line {top: 50%;left: -135%;height: 22.5em;}
#cu-career-line{display:none;}
#cu-career-line2{position: absolute;left: -495%;top: 0%;z-index: -1;width: 550%;height: 20em;display:block;}
#cu-inquiry-line {left: -300%;width: 370%;top: -25%;height: 11em;}
#cu-form{top: 6.5em;left: -15%;}
.cu-form-field>label {font-size:0.9em;}
.cu-attach-icon{ padding-top: 5px; height: 2.2em; }
.cu-form-field>input[type=text], .cu-form-field>textarea{font-size: 0.9em;}
#cu-form-message {font-size: 1em;}

#cu-form-inquiry{top: 3em;left: 4%;}
#cu-form-msg-inquiry {font-size: 1em; top:0; width: 90%;word-break: break-word;}
/* ==========================================================================
   About Us
   ========================================================================== */
#about-menu{font-size:1.5em}
#img-container-aboutus{left:-36%}
#auLine{width:75%;z-index:-1;top:10%;left:-5%;}
#img-container-aboutus img{width:72%;height:37%;left:30%;position:relative}
.director-content{width:100%;margin-top:-40px;left: 5%;}
#img-container-aboutus #left{float:left;text-align:left;margin-top:50px}
#img-container-aboutus #left:before, #right:before { content:none; }
#img-container-aboutus #left, #right { width:45%; }
#img-container-aboutus div#left .profile-name { margin-left:15px; }
#img-container-aboutus .profile-name { width:100%; }
#img-container-aboutus div#left .profile-name:last-child { margin-left: 15px; }
#img-container-aboutus #right { margin-top: 50px; }
#img-container-aboutus div#right .profile-name { margin-left: 40px; }
#img-container-aboutus div#right .profile-name:nth-child(4) { margin-left: 40px; }
#img-container-aboutus div#right .profile-name:last-child { margin-left: 40px; }

/* ==========================================================================
   Whats New
========================================================================== */
#bci-fbpage{display:none}
#wn-container{position:absolute;top:-65px}
#wn-line{ left:-19%; width:130%; }

/* ==========================================================================
   Portfolio
========================================================================== */
.port-menu div:not(#home-menu):not(#port-menu) { display:none;}
#port-menu{ width:80px;  height:80px;  position:relative;}
#port-menu p{ position:relative;  top:50%;  transform:translateY(-50%)}
#port-lines{ display:none}
.port-circle-events{ float:none;  width:50%;  margin:0 auto 10%}
.port-circle-events p{ font-size:7vw}
.port-circle-print{ float:none;  width:50%;  margin:0 auto 10%}
.port-circle-print p{ font-size:8.5vw}
.port-circle-digital{ float:none;  width:50%;  margin:0 auto 10%}
.port-circle-digital p{ font-size:6vw}
.port-circle-ooh{ float:none;  width:50%;  margin:0 auto 10%}
.port-circle-ooh p{ font-size:8.5vw}
.port-circle-shopper{ float:none;  width:50%;  margin:0 auto 10%}
.port-circle-shopper p{ font-size:5.5vw}
.port-circle-activation{ float:none;  width:50%;  margin:0 auto 10%}
.port-circle-activation p{ font-size:6vw}
.port-circle-tv{ float:none;  width:50%;  margin:0 auto 10%}
.port-circle-tv p{ font-size:14.5vw}
#oneLine{ display:block;  position:absolute;  height:90%;  margin-top:0;  z-index:-1}
#sLine{ display:block;  position:absolute;  z-index:-1;  margin-left:-20%}
/*Other Details*/
#event-details, #digital-details, #activation-details, #tv-details, #ooh-details, #shopper-details{    margin: 0 0 10% 0;text-align: center;width: 100%;}

/*Print Details*/
#print-details {margin-top: 0;}
.print-details-top { width:98%; height: 70%; float:left;     position:relative; padding-bottom:30%;overflow:hidden; margin:2px;}
.print-details-bottom { width:48%; height: 70%; float:left;     position:relative; padding-bottom:30%;overflow:hidden; margin:2px;}

/* ==========================================================================
   Clients
========================================================================== */
#clients-container {top:8em;}
#clients-container #clients-panasonic{left:20%;}
#clients-container #clients-ritemed {top: 298px;left:-4.5%}
#clients-container #clients-bpi {top: 340px;left: 20%;}
#clients-container #clients-metrobank {right: 25%;}
#clients-container #clients-dbp{top:180px}
#clients-container #clients-blue{top:270px; left:30%}
#clients-container #clients-mitsubishi {top:135px;right: 6%;}
#clients-container #clients-accenture {top:135px;}
#microsoftLine1{display:none}
#microsoftLine2{display:block; position:absolute; left:-240%; width:250%; z-index:-1}
#forexLine1{display:none;}
#forexLine2{display:block; position:absolute; left:-185%; width:200%; z-index:-1}
#mitsubishiLine1{display:none}
#mitsubishiLine2{display:block; position:absolute; width:180%; z-index:-1}
#dbpLine1{display:none}
#dbpLine2{display:block; position:absolute; top:-25px; width:235%; z-index:-1}
#blueLine1{display:none}
#blueLine2{display:block; position:absolute; left:-115%; z-index:-1; }
#clients-container #clients-scentshop{top:265px}
#scentshopLine2{display:block; position:absolute; top:-95px; z-index:-1; height:170%}
#panasonicLine1{display:none;}
#panasonicLine2{display:block; position:absolute; left:-125%; z-index:-1; width:150%; height:145%; top:20%}
#bpiLine1{display:none;}
#ucpbLine1 {width: 630%; left: -610%; }
#accentureLine1{display:none;}
#accentureLine2{display:block; position:absolute; z-index:-1}
#metrobankLine1 {width: 480%; height: 305%;}
#bpiLine1{display:none;}
#bpiLine2{display:block; position: absolute; z-index:-1;}
#ritemedLine1{height: 205%; top: -200%; left: 2%;}
#cv-metrobank {left:-45%; top:110%;}
#cv-blue {left:0%; top:110%;}
#cv-bpi {width:450%;}
#cv-panasonic {width:250%;}

/* ==========================================================================
   404
========================================================================== */
#art-content {height: 410px;}
.art-hand {width: 65%;    padding-bottom: 65%;}

}
@media only screen and (min-width: 480px) and (max-width: 600px) {   
#clients-container #clients-panasonic {top:-25px;}
#clients-container #clients-forex {top:110px;}
#clients-container #clients-ucpb {top: 25px;}
#clients-container #clients-microsoft {top:80px;}
#clients-container #clients-metrobank {top: 335px;}
#ucpbLine1 {top:20%;}
#accentureLine2 {left:-155%; top: 10%; width:170%;}
#dbpLine2 {left: -170%;}
#scentshopLine2 {left:-40%;}
#bpiLine2 {left:-215%; top:-395%; width:240%; height:425%;}
#mitsubishiLine2 {left:-160%; top:8%;}
#blueLine2 {top:-95%; width:180%; height:130%;}
#metrobankLine1 {left: -410%; top: -275%;}
}
@media only screen and (min-width: 601px) and (max-width: 767px) {
#clients-container #clients-panasonic {top:-65px;}
#clients-container #clients-forex {top:95px;}
#clients-container #clients-ucpb {top: -10px; right: 28%;}
#clients-container #clients-microsoft {top:55px;}
#clients-container #clients-metrobank {top:370px;}
#ucpbLine1 {top:40%;}
#accentureLine2 {left:-190%; top: 5%; width:200%;}
#dbpLine2 {left: -185%;}
#scentshopLine2 {left:-50%; width:120%;}
#bpiLine2 {left:-235%; top:-300%; width:300%; height:380%;}
#mitsubishiLine2 {left:-170%; top:5%;}
#blueLine2 {top:-77%; width:160%; height:120%;}
#metrobankLine1 {left: -435%; top: -260%;}
#clients-container #clients-mitsubishi {width: 34%;}
}
/* ==========================================================================
   Media stage 4
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 1139px) {
.title {float: left;}
nav {float: right;width: 38%;}
.main aside{float:right;width:28%}
.main aside img{width:100%;height:65px;left:0}
#bci-menu{position:absolute;width:122px}
#cu-bci-menu{position:absolute;width:122px}
#art-hand{margin-left:150px;width:490px;margin-top:55px}
#art-hand img{width:495px}
#line-art-connection{width:550px}
#aLine { width:95%; }
#cLine { width:89%; }
#pLine { width:80%; }
#wLine { left:0; width:70%;}
#cuLine { left:0; width:70%;}
.main-content{position:relative;width:58%;left:17%;top:40px}
#bci-fbpage{top:47%;left:74%;width:185px}
#not-circle{margin-left: 164px;margin-top: 260px;}
/* ==========================================================================
   Contact Us
========================================================================== */

#cu-form-msg-inquiry {font-size: 0.9em; word-break: break-word;}
/* ==========================================================================
   About Us
========================================================================== */
#img-container-aboutus { left: -33%; }
#img-container-aboutus img{width:75%;height:40%;position:relative}
#img-container-aboutus #left,#right{width:49%}
.director-content{width:112%;left:10%;position:relative;margin-top:-40px;}
#img-container-aboutus #left{float:left;text-align:left;margin-top:50px}
#img-container-aboutus #left:before, #right:before { content:none; }
#img-container-aboutus #left, #right { width:50%; }
#img-container-aboutus div#left .profile-name { margin-left:15px; }
#img-container-aboutus .profile-name { width:100%; }
#img-container-aboutus div#left .profile-name:last-child { margin-left: 15px; }
#img-container-aboutus #right { margin-top: 50px; }
#img-container-aboutus div#right .profile-name { margin-left: 40px; }
#img-container-aboutus div#right .profile-name:nth-child(4) { margin-left: 40px; }
#img-container-aboutus div#right .profile-name:last-child { margin-left: 40px; }
#auLine{top:10%;width:53%;height:25%;}
#img-container-aboutus img { left:30%; }

/*#img-container-aboutus img{ width:510px;  height:510px;  position:absolute;  left:39%;z-index:2;}
#img-container-aboutus #left:before{ float:right;shape-outside: ellipse(260px 260px at 128% 19%); height: 350px;}
#img-container-aboutus #right:before{ float:left;shape-outside: ellipse(260px 260px at -17% 35%); height: 455px;}*/

/* ==========================================================================
   Portfolio
========================================================================== */
/*.port-circle-events{ float:left;  position:relative;  width:30%;  padding-bottom:30%;  margin:8% 15% 0 0;  overflow:hidden}
.port-circle-print{ float:left;  position:relative;  width:37%;  padding-bottom:37%;  margin:0;  overflow:hidden}
.port-circle-digital{ float:left;  position:relative;  width:24%;  padding-bottom:24%;  margin:0 10% 0 30%;  overflow:hidden}
.port-circle-activation{ float:left;  position:relative;  width:34%;  padding-bottom:34%;  margin:3% 0 0 7%;  overflow:hidden}
.port-circle-tv{ float:left;  position:relative;  width:49%;  padding-bottom:49%;  margin:-12% 0px 0px 8%;  overflow:hidden}*/
.port-circle-shopper {margin: -14% 0% 7% 4%;}
#oneLine{display:none}


/* ==========================================================================
   Clients
========================================================================== */     
#clients-container #clients-forex{left:17%; top:13em;}
#clients-container #clients-panasonic {width:17%;}
#clients-container #clients-mitsubishi {top:13em; width:31%;}
#clients-container #clients-metrobank {top:30em; width:13%;}
#clients-container #clients-scentshop {top:27em;}
#clients-container #clients-ritemed {top:35.5em;left:1%;}
#clients-container #clients-accenture {width:13%;}
#clients-container #clients-blue {width:22%; top: 22em;}
#clients-container #clients-dbp {top:19em;}
#panasonicLine1{display:none;}
#panasonicLine2{display:none;}
#panasonicLine3{display:block; position:absolute; z-index:-1; top:27%; left:-95%; width:125%; height: 130%;}
#bpiLine1{height: 280%;top: -255%;}
#scentshopLine3{display:block; position:absolute; left:-15%; top:-95px; z-index:-1; height:120%}
#microsoftLine1 {height:105%;}
#forexLine1{display:none;}
#forexLine3 {display:block; position: absolute; left: -125%; top: 25%; width: 150%; z-index: -1;}
#metrobankLine1 {left: -380%; top: -130%;}
#blueLine1 {width: 120%; left: -100%;}
#mitsubishiLine1 {left: -185%; width: 190%;}
}
@media only screen and (min-width: 768px) and (max-width: 1025px) {
#clients-container #clients-panasonic {top: 4em;}
#clients-container #clients-bpi {top: 34em; left: 21%;}
#clients-container #clients-accenture {top:14em;}
#clients-container #clients-microsoft {top: 7em;}
#clients-container #clients-ucpb {top: 7em;}
#ritemedLine1 {height:220%; top:-215%;}
}
@media only screen and (min-width: 1026px) and (max-width: 1139px) {
#clients-container #clients-panasonic {top: 1em;}
#clients-container #clients-bpi {top: 36em; left: 21%;}
#clients-container #clients-accenture {top: 13em;}
#clients-container #clients-microsoft {top: 5em;}
#clients-container #clients-ucpb {top: 5em;}
#accentureLine1 {left:-180%; width:190%;}
#ritemedLine1 {height:200%; top:-165%;}
}/*
@media only screen and (min-width: 960px) and (max-width: 1089px) {
#img-container-aboutus img{left:36%;}
}
@media only screen and (min-width: 990px) and (max-width: 1019px) {
#img-container-aboutus img{left:37%;}
}
@media only screen and (min-width: 1020px) and (max-width: 1049px) {
#img-container-aboutus img{left:38%;}
}
@media only screen and (min-width: 1050px) and (max-width: 1139px) {
#img-container-aboutus img{left:39%;}
}*/
/* ==========================================================================
   Media stage 5
   ========================================================================== */
@media only screen and (min-width: 1140px) {
.main aside { float: right;width: 28%; }
.wrapper { width: 835px; margin: 0 auto; }
.main aside img{ width:100%; height:100%; }
#art-hand{margin-left:230px;margin-top:50px;width:500px;position:absolute;height:530px;}
#art-hand img{ width:490px;height:100%; }
#bci-menu{ position:absolute; width:122px;}
#line-art-connection{ width:580px; }
.main-content{position:relative;width:58%;left:17%;top:40px}
/* ==========================================================================
   Portfolio
========================================================================== */
#eline-1, #pline-1, #dline-1, #aline-1, #tline-1, #sline-1, #oline-1 {display:block;}
#eline-2, #pline-2, #dline-2, #aline-2, #tline-2, #sline-2, #oline-2 { display: none; }
#eline-3, #pline-3, #dline-3, #aline-3, #tline-3, #sline-3, #oline-3 { display: none; }
#eline-4, #pline-4, #dline-4, #aline-4, #tline-4, #sline-4, #oline-4 { display: none; }
#oneLine {display:none;}

}

@media only screen and (min-width: 1000px) and (max-width: 1139px) {
    #eline-1, #pline-1, #dline-1, #aline-1, #tline-1, #sline-1, #oline-1 {display:none;}
    #eline-2, #pline-2, #dline-2, #aline-2, #tline-2, #sline-2, #oline-2 { display: block; }
    #eline-3, #pline-3, #dline-3, #aline-3, #tline-3, #sline-3, #oline-3 { display: none; }
    #eline-4, #pline-4, #dline-4, #aline-4, #tline-4, #sline-4, #oline-4 { display: none; }
}
@media only screen and (min-width: 900px) and (max-width: 999px) {
    #eline-1, #pline-1, #dline-1, #aline-1, #tline-1, #sline-1, #oline-1 {display:none;}
    #eline-2, #pline-2, #dline-2, #aline-2, #tline-2, #sline-2, #oline-2 { display: none; }
    #eline-3, #pline-3, #dline-3, #aline-3, #tline-3, #sline-3, #oline-3 { display: block; }
    #eline-4, #pline-4, #dline-4, #aline-4, #tline-4, #sline-4, #oline-4 { display: none; }
     /*Other Details*/
    /*#event-details {margin: 14% 0px 0px 35%;}*/
    /*#digital-details {margin: 19% 0 0 24%;}*/
    /*#activation-details {margin: 46% 0 0 5%;}*/
    /*#tv-details {margin: 30% 0 0 54%;}     */
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
    #eline-1, #pline-1, #dline-1, #aline-1, #tline-1, #sline-1, #oline-1 {display:none;}
    #eline-2, #pline-2, #dline-2, #aline-2, #tline-2, #sline-2, #oline-2 { display: none; }
    #eline-3, #pline-3, #dline-3, #aline-3, #tline-3, #sline-3, #oline-3 { display: none; }
    #eline-4, #pline-4, #dline-4, #aline-4, #tline-4, #sline-4, #oline-4 { display: block; }
     /*Other Details*/
    /*#event-details {margin: 13% 0px 0px 37%;}*/
    /*#digital-details {margin: 16% 0 0 20%;}*/
    /*#activation-details {margin: 43% 0 0 2%;}*/
    /*#tv-details {margin: 27% 0 0 49%;} */
    /*#event-details, #digital-details, #activation-details, #tv-details{    margin: 0 auto;text-align: center;width: 100%;}*/
  /*Print Details*/
  #print-details {margin: 0 10px;}
  .print-details-top {width:98%; min-height: 200px;}
  .print-details-bottom {width:48%; min-height: 200px; }    
}



@media only screen and (min-width: 768px) and (max-width: 1040px) {.cu-form-field>label {font-size: 1.25em;}}
@media only screen and (min-width: 1041px) and (max-width: 1139px) {.cu-form-field>label {font-size: 1.25em;}}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden,.invisible{visibility:hidden;cursor:default;z-index:1;position:relative;}.hidden{display:none!important}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.clearfix:after,.clearfix:before{content:" ";display:table}.clearfix:after{clear:both}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print{blockquote,img,pre,tr{page-break-inside:avoid}*,:after,:before{background:0 0!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}a[href^="#"]:after,a[href^="javascript:"]:after{content:""}blockquote,pre{border:1px solid #999}thead{display:table-header-group}img{max-width:100%!important}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}}